{% extends 'base.html' %}
{% block content %}
    <div class="page">
        <h1>Tweet Whisperer</h1>
        <small>Enter a topic person or just about anything and find out what the users of twitter think of about it</small>
        <form action="/topic" method="POST">
            <div class="form-row">
                <input type="text" name="query" placeholder="Enter Topic" required>
            </div>
            <div class="form-row">
                <button>Enter</button>
            </div>
        </form>
        {% if sentiment_data %}
            <h2>{{sentiment_data['total_attitude']}}</h2>
        {% endif %}
    </div>
{% endblock %}